version: '2'

services:
  hippo:
    image: openweb/hippo:mysql-10
    networks:
      - app_network
    environment:
      DB_HOST: "database"
      DB_PORT: "3306"
      DB_NAME: "hippo"
      DB_USER: "hippo"
      DB_PASS: "hippoPassword"
    depends_on:
      - mysql
    ports:
      - "8765:8080"
  mysql:
    image: mysql:5.5
    environment:
      MYSQL_ROOT_PASSWORD: "rootPassword"
      MYSQL_DATABASE: "hippo"
      MYSQL_USER: "hippo"
      MYSQL_PASSWORD: "hippoPassword"
    networks:
      app_network:
        aliases:
          - database
networks:
  app_network:
    driver: bridge